@use 'reset';
@use 'logo';
@use 'btn';
@use 'variables' as *;

html {
  height: 100%;
}

body {
  height: 100%;
  // background-image: $backgroundImage;
  // background-repeat: no-repeat;
  // background-position: center;
  // background-size: cover;
  font-family: 'Anta', sans-serif;
  font-size: 1.5rem;
  text-align: center;
}

.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  width: 100vw;
  padding: 10px;
}

.wrapper-div {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  min-width: 50vw;
  min-height: 50vh;
  // min-width: 300px;
  // min-height: 200px;
  overflow: scroll;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(16.9px);
  -webkit-backdrop-filter: blur(16.9px);
  // border: 1px solid rgba(255, 255, 255, 0.44);
  padding: 20px;
  // border: 3px solid $secondaryTextColor;
  border-radius: 10px;
  transition: all 0.3;
}

.text-pop {
  color: $secondaryTextColor;
  text-shadow: 0 0 5px $primaryColor;
  font-size: clamp(1rem, 2vw, 2rem);
  margin: 25px;
}

#enter {
  font-size: clamp(2rem, 3vw, 3.5rem);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  border-radius: 5px;
  margin: 10px;
}

.trx-container {
  padding: 10px;
  margin-top: 10px;
  border-top: solid 1px $secondaryTextColor;
}

.trx-container span {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  padding: 25px;
  font-size: clamp(1rem, 2vw, 2rem);
}

h4 {
  margin-top: 10px;
}

.list-transactions span {
  white-space: nowrap;
  overflow: scroll;
  text-overflow: ellipsis;
  font-size: clamp(0.8rem, 2vw, 1rem);
}

main {
  width: 100%;
  height: 100vh;
  background-image: $backgroundImage;
  background-size: 300% auto;
  background-position: center;
  background-repeat: no-repeat;
  animation: zoomEffect 50s ease-in-out infinite alternate;
}

.list-transactions > div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

#networkText {
  position: absolute;
  padding: 10px;
  top: 10px;
  right: 200px;
  color: $secondaryTextColor;
  text-shadow: 0 0 5px $primaryColor;
  font-size: clamp(1rem, 2vw, 2rem);
}

@keyframes zoomEffect {
  0%,
  100% {
    background-size: 200% auto;
  }
  50% {
    background-size: 290% auto;
  }
}

@media (max-width: 480px) {
  @keyframes zoomEffect {
    0%,
    100% {
      background-size: 300% auto;
    }
    50% {
      background-size: 390% auto;
    }
  }

  .list-transactions span {
    display: grid;
    grid-template-columns: 1fr;
    font-size: clamp(0.6rem, 2vw, 1rem);
  }

  .trx-container span {
    padding: 10px;
    font-size: clamp(0.6rem, 2vw, 1rem);
  }

  .wrapper-div {
    overflow: scroll;
  }
}
