@use 'reset';
@use 'header';
@use 'variables' as *;

body {
  background-image: $backgroundImage;
  background-size: cover;
  color: $secondaryTextColor;
  text-shadow: 2px 2px 2px black;
  font-family: 'Protest Revolution', sans-serif;
  font-size: 1.5em;
  text-align: center;
}

main {
  width: 100%;
  height: 100vh;
  background-image: $backgroundImage;
  background-size: 110% auto;
  background-position: center;
  background-repeat: no-repeat;
  animation: zoomAndPan 20s ease-in-out infinite alternate;
}

@keyframes zoomAndPan {
  0% {
    background-size: 110% auto;
    background-position: 50% 0;
  }
  100% {
    background-size: 120% auto;
    background-position: 50% 100%;
  }
}
