@use 'reset';
@use 'header';
@use 'variables' as *;

body {
  background-color: $backgroundColor;
  color: $textColor;
  font-family: 'Protest Revolution', sans-serif;
  font-size: 1.5em;
  text-align: center;
}
